/* Global styles */
html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #121212;
  background: #fff;
}

a {
  text-decoration: none;
  color: #121212;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

/* ======== */

/* Header styles */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-logo {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-top: 54px;
  padding-bottom: 37px;
  opacity: 0.9;
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 64px;
}

.header-menu-item {
  padding: 54px 0 37px 0;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: #b1454a;
}

/* =============== */

/* Main */

/* Hero section*/

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b1454a;
  position: relative;
}

.hero-background-sushi {
  background-image: url("../img/hero-background-sushi.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 596px;
  height: 580px;
  position: absolute;
  left: 0;
  z-index: 999;
}

.hero-background-text {
  color: #fff;
  opacity: 0.04;
  font-family: Arial;
  font-size: 240px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: rotate(90deg);
  writing-mode: vertical-lr;
  position: absolute;
  top: -178px;
  left: -74px;
}

.hero-japaniese {
  position: absolute;
  top: 366px;
  left: 80px;
}

.hero-japan-text {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  line-height: normal;
  writing-mode: vertical-lr;
  margin: 0;
}

.second-part {
  display: flex;
  flex-direction: column;
}

.hero-feel {
  padding-top: 179px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  position: relative;
  right: -460px;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 723px;
  font-family: "Playfair Display";
  font-size: 88px;
  font-weight: 600;
  line-height: 1.23;
  margin-bottom: 32px;
}
.hero-text {
  font-size: 18px;
  line-height: 2;
  letter-spacing: -0.18px;
  opacity: 0.8;
  margin-bottom: 41px;
}
.hero-order-btn {
  color: #fff0de;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  background-color: #121212;
  padding: 20px 58px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-order-btn:active {
  transform: scale(0.99);
}

.hero-order-btn:hover {
  background-color: #b1454a;
}

.how-order {
  color: #020202;
}

.how-order::before {
  content: "";
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: lightgrey;
  border-radius: 50%;
}

.hero-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 48px;
}

.hero-btn-group {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 36px;
  margin-bottom: 88px;
}

.hero-clients {
  display: flex;
  background-color: #fff0de;
  position: relative;
  right: -460px;
  max-width: 900px;
  padding-bottom: 23px;
  padding-left: 100px;
  padding-top: 22px;
}

.hero-clients-first-block {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-right: 109px;
}

.hero-24k {
  color: #333;
  font-family: "Playfair Display";
  font-size: 82px;
  line-height: 1.14;
}
.hero-happy {
  color: #121211;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.05em;
  opacity: 0.5;
  max-width: 86px;
}
.hero-comment {
  display: flex;
  align-items: center;
  gap: 24px;
}

.hero-comment-text {
  color: #121212;
  line-height: 2;
  letter-spacing: -0.01;
  opacity: 0.8;
  max-width: 242px;
}

/* =============== */

/* About-us */

.container-about-us {
  display: flex;
}
.about-us-images {
  position: relative;
}

.about-us-top {
  position: relative;
  right: 80px;
  width: 540px;
  height: 356px;
  background-color: #fff0de;
  background-image: url("../img/about-us-top.png");
  background-repeat: no-repeat;
  background-position: 80px;
  margin-bottom: 8px;
}
.about-us-text {
  color: #b1454a;
  opacity: 0.1;
  font-family: Arial;
  font-size: 120px;
  font-weight: 700;
  writing-mode: vertical-lr;
  line-height: normal;
  position: absolute;
  right: 30px;
  top: 27px;
}

.about-us-learn-link {
  color: #fff0de;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;

  position: absolute;
  z-index: 999;
  right: 0;
  top: 328px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121212;
  width: 200px;
  height: 64px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-learn-link:hover,
.about-us-learn-link:focus {
  background-color: #b1454a;
}

.about-us-learn-link:active {
  transform: scale(0.99);
}
.about-us-learn-link svg {
  fill: transparent;
  stroke: #fff0de;
}

.about-us-bottom {
  width: 540px;
  height: 356px;
  background: #fff0de;
  background-image: url("../img/about-us-bottom.png");
  background-repeat: no-repeat;
  background-position: 80px;
  position: relative;
  right: 80px;
}
.about-us-main {
  padding-top: 147px;
  padding-left: 20px;
}

.about-us-main-text {
  color: #b1454a;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  opacity: 0.8;
}
.about-us-title {
  color: #121212;
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
  max-width: 702px;
  margin-bottom: 32px;
}
.about-us-description {
  color: #121212;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
}
/* =============== */

/* ======Popular food========= */

.popular-food-container {
  padding-top: 120px;
  width: 1442px;
  height: 1037px;
  background: #b1454a;
  position: relative;
}

.popular-food-background-text {
  transform: rotate(89.966deg);
  writing-mode: vertical-lr;
  color: #121212;
  font-family: Arial;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.04;
}
.popular-food-background-text.top {
  position: absolute;
  top: -115px;
  left: -120px;
}

.popular-food-title {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 56px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 48px;
}
.popular-food-scrollbar-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.popular-food-scrollbar-item:first-of-type {
  padding: 32px;
  border-radius: 60px;
  border: 1px solid #eaeaea;
  background: #fff;
  width: 86px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-food-scrollbar-item:first-of-type .popular-food-scrollbar-link {
  color: #b1454a;
  text-align: center;
  font-size: 20px;
  line-height: normal;
  letter-spacing: -0.2px;
}

.popular-food-scrollbar-link {
  padding: 12px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  padding: 12px 32px;
  gap: 10px;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
}

.popular-food-scrollbar-link:hover,
.popular-food-scrollbar-link:focus {
  transform: scale(1.05);
}

.popular-food-carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.carrousel-btn {
  padding: 23px 23px;
  border-radius: 46px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.carrousel-btn:hover {
  transform: scale(1.05);
}

.carrousel-btn:active {
  transform: scale(0.99);
}

.carrousel-wrapper {
  margin-left: 55px;
  margin-right: 85px;
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.carrousel-item {
  padding: 64px 75px 36px 75px;
  width: 260px;
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carrousel-image {
  margin-bottom: 47px;
}

.carrousel-item-title {
  color: #fff;
  text-align: center;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
  margin-bottom: 32px;
}
.carrousel-item-stats {
  display: flex;
  align-items: center;
  gap: 59px;
}
.carrousel-item-rating {
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.2px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.carrousel-item-price {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.is-selected-item {
  width: 338px;
  background: #fff;
}

.is-selected-stats {
  gap: 84px;
}

.is-selected-title {
  color: #555;
}

.is-selected-rating {
  color: #888;
}

.is-selected-price {
  color: #121212;
  font-size: 24px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.24px;
}

.explore-food-btn {
  background-color: #121212;
  padding: 20px 30px;
  border: none;
  border-radius: 64px;
  color: #fff0de;
  text-align: center;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.explore-food-btn svg {
  stroke: #fff0de;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.explore-food-btn:hover {
  background-color: #fff0de;
  color: #121211;
}

.explore-food-btn:hover svg {
  stroke: #121211;
}

.popular-food-background-text.bottom {
  position: absolute;
  bottom: -110px;
  right: -80px;
}

/* =============== */

/* What's trending  */

.trending .container {
  padding: 0;
}

.japanese-sushi {
  display: flex;
}

.japanese-sushi-text-wrapper {
  width: 720px;
  padding-top: 135px;
  padding-bottom: 139px;
  padding-left: 80px;
  position: relative;
}

.japanese-sushi-card-wrapper {
  min-width: 720px;
  height: 640px;
  background-color: #fff0de;
  background-image: url("../img/japanese-sushi-card.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.japanese-sushi-card-text {
  color: #b1454a;
  font-family: Arial;
  font-size: 120px;
  font-weight: 700;
  line-height: normal;
  opacity: 0.1;
  writing-mode: vertical-lr;
  position: absolute;
  top: 64px;
  right: -50px;
}

.trending-sushi-text {
  color: #b1454a;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin-bottom: 16px;
}
.trending-sushi-title {
  color: #121212;
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 32px;
  max-width: 435px;
}
.trending-sushi-description {
  color: #121212;
  line-height: 200%;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin-bottom: 32px;
  max-width: 508px;
}
.japanese-sushi-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: center;
}
.japanese-sushi-item {
  width: calc((100% - 110px) / 2);
  display: flex;
  align-items: center;
}

.japanese-sushi-item p {
  color: #121211;
  font-weight: 500;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.japanese-sushi-card {
  width: 720px;
  height: 640px;
  background-image: url("../img/japanese-sushi-card.png");
  background-repeat: no-repeat;
  background-position: right;
}

.fa-check {
  color: white;
  background-color: #b1454a;
  border-radius: 50%;
  padding: 4px;
}

.japanese-drinks {
  display: flex;
  position: relative;
}
.japanese-drinks-card-wrapper {
  width: 720px;
  height: 640px;
  background-color: #fff0de;
  position: relative;
  background-image: url("../img/japanese-drinks-card.png");
  background-position: center;
  background-repeat: no-repeat;
}
.japanese-drinks-card-text {
  color: #b1454a;
  font-family: Arial;
  font-size: 120px;
  font-weight: 700;
  line-height: normal;
  opacity: 0.1;
  writing-mode: vertical-lr;
  padding-top: 64px;
  position: absolute;
  left: -60px;
}
.japanese-drinks-text-wrapper {
  width: 720px;
  height: 640px;
  padding-top: 135px;
  padding-left: 100px;
  position: relative;
}

.japanese-drinks-text-name {
  color: #b1454a;
  font-size: 18px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin-bottom: 16px;
}
.japanese-drinks-title {
  color: #121212;
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 32px;
}
.japanese-drinks-description {
  color: #121212;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
  opacity: 0.8;
  margin-bottom: 32px;
}
.japanese-drinks-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  align-items: center;
}
.japanese-drinks-item {
  width: calc((100% - 110px) / 2);
  display: flex;
  align-items: center;
}
.japanese-drink-text {
  color: #121211;
  font-weight: 500;
  line-height: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.discover {
  width: 160px;
  height: 160px;
  background-color: #121212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
}

.discover p {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.bottom-line {
  position: absolute;
  left: -3px;
}

.to-left-line {
  position: absolute;
  bottom: -2px;
  left: 130px;
}

.to-right-line {
  position: absolute;
  bottom: -3px;
  right: 130px;
  z-index: 999;
}
.to-bottom-line {
  position: absolute;
  bottom: 130px;
  left: -3px;
}

/* =============== */
