/* Global styles */
body {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #121212;
  background: #fff;
}

a {
  text-decoration: none;
  color: #121212;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1440px;
  padding: 0 80px;
  margin: 0 auto;
}

/* ======== */

/* Header styles */

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-logo {
  color: #fff;
  font-family: "Playfair Display";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  padding-top: 54px;
  padding-bottom: 37px;
  opacity: 0.9;
  margin-right: auto;
}

.header-navigation {
}

.header-menu {
  display: flex;
  gap: 64px;
}

.header-menu-item {
  padding: 54px 0 37px 0;
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  display: block;
}

/* =============== */

/* Main */

/* Hero section*/

.hero {
  /* background: linear-gradient(to right, #b1454a 49%, #fff 50% 80%, #b1454a 80%); */
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #b1454a;
  position: relative;
}

.hero-background-sushi {
  background-image: url("../img/hero-background-sushi.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 596px;
  height: 580px;
  position: absolute;
  left: 0;
  z-index: 999;
}

.hero-background-text {
  color: #fff;
  opacity: 0.04;
  font-family: Arial;
  font-size: 240px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transform: rotate(90deg);
  writing-mode: vertical-lr;
  position: absolute;
  top: -178px;
  left: -74px;
}

.hero-japaniese {
  position: absolute;
  top: 366px;
  left: 80px;
}

.hero-japan-text {
  color: #fff;
  font-size: 120px;
  font-weight: 700;
  line-height: normal;
  writing-mode: vertical-lr;
  margin: 0;
}

.second-part {
  display: flex;
  flex-direction: column;
}

.hero-feel {
  padding-top: 179px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: white;
  position: relative;
  right: -460px;
  max-width: 900px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  max-width: 723px;
  font-family: "Playfair Display";
  font-size: 88px;
  font-weight: 600;
  line-height: 1.23;
  margin-bottom: 32px;
}
.hero-text {
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  line-height: 2;
  letter-spacing: -0.18px;
  opacity: 0.8;
  margin-bottom: 41px;
}
.hero-order-btn {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  background-color: #121212;
  padding: 20px 58px;
  border-radius: 50px;
  border: none;
}

.how-order {
  color: #020202;
}

.how-order::before {
  content: "";
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: lightgrey;
  border-radius: 50%;
}

.hero-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 48px;
}

.hero-btn-group {
  display: flex;
  align-self: flex-start;
  align-items: center;
  gap: 36px;
  margin-bottom: 88px;
}

.hero-clients {
  display: flex;
  background-color: #fff0de;
  position: relative;
  right: -460px;
  max-width: 900px;
  padding-bottom: 23px;
  padding-left: 100px;
  padding-top: 22px;
}

.hero-clients-first-block {
  display: flex;
  align-items: center;
  gap: 28px;
  margin-right: 109px;
}

.hero-24k {
  color: #333;
  font-family: "Playfair Display";
  font-size: 82px;
  line-height: 1.14;
}
.hero-happy {
  color: #121211;
  font-size: 20px;
  line-height: 160%;
  letter-spacing: -0.05em;
  opacity: 0.5;
  max-width: 86px;
}
.hero-comment {
  display: flex;
  align-items: center;
  gap: 24px;
}
.hero-comment-img {
}
.hero-comment-text {
  color: #121212;
  line-height: 2;
  letter-spacing: -0.01;
  opacity: 0.8;
  max-width: 242px;
}

/* =============== */

/* About-us */

.container-about-us {
  display: flex;
}
.about-us-images {
  position: relative;
}

.about-us-top {
  position: relative;
  right: 80px;
  width: 540px;
  height: 356px;
  background-color: #fff0de;
  background-image: url("../img/about-us-top.png");
  background-repeat: no-repeat;
  background-position: 80px;
  margin-bottom: 8px;
}
.about-us-text {
  color: #b1454a;
  opacity: 0.1;
  font-family: Arial;
  font-size: 120px;
  font-weight: 700;
  writing-mode: vertical-lr;
  line-height: normal;
  position: absolute;
  right: 30px;
  top: 27px;
}

.about-us-learn {
  position: absolute;
  z-index: 999;
  right: 0;
  top: 328px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #121212;
  width: 200px;
  height: 64px;
  border-top-left-radius: 36px;
  border-bottom-left-radius: 36px;
}

.about-us-learn-link {
  color: #fff;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.about-us-bottom {
  width: 540px;
  height: 356px;
  background: #fff0de;
  background-image: url("../img/about-us-bottom.png");
  background-repeat: no-repeat;
  background-position: 80px;
  position: relative;
  right: 80px;
}
.about-us-main {
  padding-top: 147px;
  padding-left: 20px;
}

.about-us-main-text {
  color: #b1454a;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
  opacity: 0.8;
}
.about-us-title {
  color: #121212;
  font-family: "Playfair Display";
  font-size: 64px;
  font-weight: 600;
  line-height: 140%;
  max-width: 702px;
  margin-bottom: 32px;
}
.about-us-description {
  color: #121212;
  font-family: "Plus Jakarta Sans";
  font-size: 18px;
  line-height: 200%;
  letter-spacing: -0.01em;
}
/* =============== */
